.navbar{

position:sticky;

top:0;

z-index:999;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 6%;

backdrop-filter:blur(18px);

background:rgba(255,255,255,.88);

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.logo{

font-size:28px;

font-weight:700;

color:#4F46E5;

}

.nav-links{

display:flex;

gap:30px;

align-items:center;

}

.nav-links a{

color:#1E293B;

font-weight:500;

transition:.3s;

}

.nav-links a:hover{

color:#4F46E5;

}

.active{

color:#4F46E5!important;

font-weight:700;

}

.nav-right{

display:flex;

align-items:center;

gap:18px;

}

.search-box{

width:220px;

padding:11px 16px;

border-radius:30px;

border:1px solid #ddd;

}

.username{

font-weight:600;

color:#1E293B;

}

@media(max-width:900px){

.nav-links{

display:none;

}

.search-box{

display:none;

}

}